@import '../../style-guide/index';

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__label {
    height: auto;
    font-family: $semibold-font;
    font-size: 14px;
    line-height: 40px;
    color: map-get($color-palette, dark-blue);
  }

  &__optional-label {
    font-size: 12px;
    line-height: 24px;
    text-align: right;
    color: $slate-gray;
  }

  &__input {
    flex-grow: 1;
    width: 100%;
    margin-left: 0;
  }
}
