@import '../../style-guide/index';

.message-panel {
  height: 48px;
  width: 100%;
  position: absolute;
  right: 0;
  z-index: 100;

  &__content {
    position: absolute;
    display: flex;
    align-items: center;
    flex-grow: 1;
    height: 100%;
    width: 100%;
    color: map-get($monochrome, black);
    font-size: 14px;
    font-family: $semibold-font;
    line-height: 20px;

    &--type {
      &--success {
        background-color: map-get($green, light-tint);
      }

      &--error {
        background-color: map-get($red, ultralight-tint);
      }

      &--warning {
        background-color: map-get($orange, light-tint);
      }

      &--info {
        color: map-get($monochrome, default);
        background-color: map-get($monochrome, light-tint);
      }
    }
  }

  &__message-icon-wrapper {
    display: flex;
    align-items: center;
    margin-left: 24px;

    &--type {
      &--success {
        color: map-get($green, default);
      }

      &--error {
        color: map-get($red, default);
      }

      &--warning {
        color: map-get($orange, default);
      }

      &--info {
        color: map-get($monochrome, default);
      }
    }
  }

  &__message-text {
    display: flex;
    align-items: center;
    margin-left: 8px;
  }

  &__close-icon {
    margin-right: 25px;
    cursor: pointer;
  }
}
