@import '../../style-guide/index';

.badge {
  border: 1px solid currentColor;
  border-radius: 14px;
  font-size: 11px;
  line-height: 12px;
  padding: 4px 10px;

  &--bold {
    font-family: $semibold-font;
  }
}
