@import '../../style-guide/index';

.badge {
  max-height: 22px;
  padding: 1px 8px;
  border: 1px solid currentColor;
  border-radius: 11px;
  font-size: 12px;

  &--bold {
    font-family: $semibold-font;
  }

  &--color {
    &--green {
      border: 1px solid map-get($green, default);
      color: map-get($green, default);
    }

    &--orange {
      border: 1px solid map-get($orange, default);
      color: map-get($orange, default);
    }

    &--gray {
      border: 1px solid map-get($monochrome, default);
      color: map-get($monochrome, default);
    }

    &--red {
      border: 1px solid map-get($red, default);
      color: map-get($red, default);
    }
  }
}
