@import '../../../style-guide/index';

.dropdown-input {
  position: relative;
  font-size: 14px;
  color: $gravel-color;

  &__container {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__value-input {
    height: 40px;
    width: 100%;
    border: 1px solid $loblolly-color;
    border-radius: 4px;
    line-height: 40px;
    padding: 0 17px;
    cursor: pointer;

    &--expanded {
      border: 1px solid map-get($color-palette, dark-blue);
    }

    &--error {
      border: 1px solid map-get($color-palette, red100);
    }
  }

  &__icon {
    position: absolute;
    top: 10px;
    right: 16px;
    color: map-get($color-palette, dark-blue);
    margin-left: 8px;
    transform: rotate(90deg);
  }

  &__item-list-wrapper {
    position: absolute;
    width: 100%;
    top: 42px;
    z-index: 150;
  }

  &__items-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: auto;
    border: 1px solid $loblolly-color;
    border-radius: 4px;
    background-color: map-get($color-palette, white);
  }

  &__item {
    padding-left: 38px;
    font-size: 14px;
    line-height: 32px;
    color: map-get($color-palette, black100);
    cursor: pointer;

    &--selected {
      padding-left: 16px;
      background-color: rgba(0, 127, 255, 0.15);
    }
  }

  &__selected-item-icon {
    color: map-get($color-palette, green100);
    margin-right: 8px;
  }
}
