@import '../../style-guide/index';

.button {
  border-radius: 20px;
  outline: 0;
  cursor: pointer;

  & > :not(:last-child) {
    margin-right: 8px;
  }

  &--type {
    &--primary {
      border: 1px solid map-get($color-palette, blue100);
      background-color: map-get($color-palette, blue100);
      color: map-get($color-palette, white);
      font-family: $semibold-font;

      &:hover {
        border: 1px solid map-get($color-palette, blue75);
        background-color: map-get($color-palette, blue75);
      }

      &:active {
        border: 1px solid map-get($color-palette, blue125);
        background-color: map-get($color-palette, blue125);
      }
    }
    &--secondary {
      border: 1px solid map-get($color-palette, blue100);
      background-color: map-get($color-palette, white);
      color: map-get($color-palette, blue100);
      font-family: $semibold-font;

      &:hover {
        border: 1px solid map-get($color-palette, blue75);
      }

      &:active {
        border: 1px solid map-get($color-palette, blue125);
      }
    }
  }

  &--size {
    &--large {
      height: 32px;
      padding: 6px 16px;
      font-size: 14px;
    }

    &--small {
      height: 24px;
      padding: 1px 12px;
      font-size: 12px;
    }
  }

  &--disabled {
    opacity: 0.25;
    pointer-events: none;
  }
}
