@import '../../style-guide/index';

.menu {
  color: map-get($color-palette, black100);

  &__menu-icon {
    position: relative;
    display: flex;
    align-items: center;
    max-height: 32px;
    max-width: 32px;
    color: map-get($color-palette, blue100);
    cursor: pointer;
  }

  &__items-list {
    position: absolute;
    right: calc(50% - 22px);
    display: flex;
    flex-direction: column;
    padding: 8px 0;
    filter: drop-shadow(0 0 24px rgba(0, 0, 0, 0.15));
    border-radius: 8px;
    background-color: map-get($color-palette, white);
    color: map-get($color-palette, black100);
    z-index: 50;

    &--position {
      &--bottom {
        top: calc(100% + 12px);

        &::before {
          top: -7px;
        }
      }
      &--top {
        bottom: calc(100% + 12px);

        &::before {
          bottom: -7px;
        }
      }
    }

    &::before {
      content: '';
      position: absolute;
      background-color: map-get($color-palette, white);
      left: calc(100% - 30px);
      height: 15px;
      width: 15px;
      transform: rotate(45deg);
    }
  }

  &__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 16px;
    cursor: pointer;

    &:hover {
      background-color: rgba(248, 231, 28, 0.1);
    }
  }

  &__item-label {
    font-size: 14px;
    line-height: 32px;
    margin-left: 8px;
    white-space: nowrap;
  }
}
