@import '../../../style-guide/index';

.link-button {
  padding: 0;
  border: none;
  background-color: transparent;
  color: map-get($color-palette, blue100);
  font-family: $semibold-font;

  &:hover {
    color: map-get($color-palette, blue75);
  }

  &:active {
    color: map-get($color-palette, blue125);
  }
}
