@import '../../../src/style-guide/index';

.icons-table {
  &__icon-info {
    margin-top: 8px;
    font-size: 18px;
    font-family: $light-font;
    color: map-get($monochrome, shade);
  }

  &__icon-props {
    display: grid;
    grid-template-columns: 115px 115px;
    width: 230px;
    font-family: $condbold-font;
    font-size: 0.9em;
    border: 1px solid map-get($monochrome, shade);
    & > * {
      padding: 5px 5px;
      border-bottom: 1px solid map-get($monochrome, shade);
      border-left: 1px solid map-get($monochrome, shade);
    }
  }

  &__icons-table-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 1em;
    margin-top: 40px;
  }

  &__icon-wrapper {
    display: flex;
    flex-direction: column;
    padding: 8px 8px;
    border: 1px solid map-get($monochrome, dark-tint);
    align-items: center;
    & > *:not(:first-child) {
      margin-top: 8px;
    }
  }

  &__icon-label {
    font-size: 14px;
    font-family: $light-font;
    color: map-get($monochrome, default);
  }

  &__icon-story-source {
    max-width: 220px;
    font-family: $light-font;
    font-size: 0.7em;
    color: map-get($primary-blue, default);
    cursor: pointer;
  }
}
