@import '../../style-guide/index';

.sort-arrows {
  color: map-get($monochrome, dark-tint);
  cursor: pointer;

  &__sort-arrows-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 16px;
  }

  &__sort-arrow {
    &--active {
      color: map-get($primary-blue, default);
    }
  }
}
