@import '../../style-guide/index';

.sort-arrows {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 24px;
  color: map-get($monochrome, medium-tint);
  cursor: pointer;

  &__sort-arrows-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 16px;
    width: 16px;
  }

  &__sort-arrow {
    &--active {
      color: map-get($monochrome, default);
    }
  }
}
