@import '../../style-guide/index';
.popup {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__header {
    padding: 0 24px;
    height: 64px;
    border-bottom: 1px solid map-get($color-palette, light-blue);
    font-size: 18px;
    line-height: 24px;
    color: map-get($color-palette, black100);
  }

  &__close-button {
    cursor: pointer;
  }

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100;
    background-color: map-get($color-palette, white);
    transform: translate(-50%, -50%);
    &--type {
      &--info {
        box-shadow: 0 -4px 0 0 map-get($color-palette, blue100), 0 0 24px 0 rgba(0, 0, 0, 0.15);
      }
      &--error {
        box-shadow: 0 -4px 0 0 map-get($color-palette, red100), 0 0 24px 0 rgba(0, 0, 0, 0.15);
      }
    }
  }

  &__fade {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.75;
    background-color: map-get($color-palette, white);
    z-index: 90;
  }
}
