@import '../../style-guide/index';
.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  &__header {
    width: auto;
    min-height: 64px;
    padding: 0 24px;
    border-bottom: 1px solid map-get($monochrome, medium-tint);
    font-size: 18px;
    line-height: 24px;
    color: map-get($monochrome, black);
  }

  &__close-button {
    cursor: pointer;
  }

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100;
    background-color: map-get($monochrome, white);
    transform: translate(-50%, -50%);
    &--type {
      &--info {
        box-shadow: 0 -4px 0 0 map-get($primary-blue, default), 0 0 24px 0 rgba(0, 0, 0, 0.15);
      }
      &--error {
        box-shadow: 0 -4px 0 0 map-get($red, default), 0 0 24px 0 rgba(0, 0, 0, 0.15);
      }
    }
  }

  &__fade {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.75;
    background-color: map-get($monochrome, white);
    z-index: 90;
  }
}
