@import '../../style-guide/index';

.filled-badge {
  border: 1px solid map-get($color-palette, green100);
  border-radius: 10px;
  background-color: map-get($color-palette, green100);
  color: map-get($color-palette, white);
  font-size: 12px;
  font-family: $semibold-font;
  line-height: 12px;
  padding: 3px 8px;
}
