@import '../../style-guide/index';

.card {
  width: 172px;
  height: 96px;
  padding: 16px;
  border: solid 1px map-get($monochrome, medium-tint);
  font-size: 12px;
  color: map-get($monochrome, default);

  &__methods-type {
    margin-left: 8px;
    font-family: $semibold-font;
  }

  &__total-methods {
    font-size: 20px;
    line-height: 32px;
    color: map-get($monochrome, black);
  }

  &__info-panel {
    line-height: 20px;

    :first-child {
      color: map-get($monochrome, black);
    }
  }

  &__risks {
    color: map-get($red, default);
  }

  &__coverage-bar {
    position: relative;
    display: flex;
    height: 8px;
    margin-bottom: 8px;
    background-color: map-get($monochrome, light-tint);
  }

  &__current-build {
    position: absolute;
    height: 8px;
    background-color: map-get($green, default);
  }

  &__active-scope {
    position: absolute;
    height: 8px;
    background-color: map-get($green, medium-tint);
  }

  &__overlapped-coverage {
    position: absolute;
    z-index: 2;
    height: 8px;
    background-color: map-get($green, shade);
  }

  &__coverage {
    font-family: $semibold-font;
    color: map-get($monochrome, black);
  }
}
