@import '../../style-guide/index';

.additional-progress-bar {
  height: 12px;
  border-radius: 4px;
  background: map-get($monochrome, light-tint);

  &__progress {
    height: 12px;
    border-radius: 4px;
    background: map-get($data-visualization, build-cover);

    &--type {
      border-radius: 0 4px 4px 0;

      &:hover {
        transform: scaleY(1.7);
      }

      &--primary {
        background: map-get($data-visualization, scope-cover);
      }

      &--secondary {
        background: map-get($data-visualization, overlapping);
      }
    }
  }
}
