@import '../../../style-guide/index';

.cancel-button {
  border: 1px solid $loblolly-color;
  background-color: map-get($color-palette, white);
  color: $slate-gray;
  font-family: $semibold-font;

  &:hover {
    border: 1px solid map-get($color-palette, black10);
    color: $shade-gray;
  }

  &:active {
    border: 1px solid $shade-gray;
    color: $shade-gray;
  }
}
