@import '../../../style-guide/index';

.textarea {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 10px 16px;
  border-radius: 4px;
  font-family: $regular-font;
  font-size: 14px;
  line-height: 20px;
  border: 1px solid map-get($monochrome, medium-tint);
  color: map-get($monochrome, black);
  outline: none;
  resize: none;

  &:focus {
    border: 1px solid map-get($monochrome, black);
  }

  &::placeholder {
    opacity: 0.5;
  }

  &--disabled {
    border: 1px solid map-get($monochrome, medium-tint);
    background-color: map-get($monochrome, light-tint);
    color: map-get($monochrome, black);
    opacity: 0.5;
  }

  &--error {
    border: 1px solid map-get($red, default);
  }
}
