@import '../../../style-guide/index';

.input-wrapper {
  &__input-element {
    box-sizing: border-box;
    width: 100%;
    height: $common-element-height;
    padding: 0 16px;
    line-height: 22px;
    border: 1px solid map-get($monochrome, medium-tint);
    border-radius: 4px;
    background-color: map-get($monochrome, white);
    color: map-get($monochrome, black);
    font-family: $regular-font;
    font-size: 14px;
    outline: none;

    &:focus {
      border: 1px solid map-get($monochrome, black);
    }

    &::placeholder {
      opacity: 0.5;
    }

    &--disabled {
      border: 1px solid map-get($monochrome, medium-tint);
      background-color: map-get($monochrome, light-tint);
      color: map-get($monochrome, black);
      opacity: 0.5;
    }

    &--error {
      border: 1px solid map-get($red, default);
    }
  }
}
