@import '../../../style-guide/index';

.input-wrapper {
  position: relative;

  &__input-element {
    width: 100%;
    height: $common-element-height;
    line-height: 22px;
    border: 1px solid $loblolly-color;
    border-radius: 4px;
    background-color: map-get($color-palette, white);
    outline: none;
    padding: 0 17px;
    font-family: $regular-font;
    font-size: 14px;
    color: map-get($color-palette, dark-blue);

    &::placeholder {
      opacity: 0.5;
    }

    &--rounded {
      padding: 0 48px;
      border-radius: 20px;
    }

    &--disabled {
      border: 1px solid map-get($color-palette, light-blue);
      background-color: $athens-gray;
      color: map-get($color-palette, dark-blue);
      opacity: 0.5;
    }

    &--error {
      border: 1px solid map-get($color-palette, red100);
    }
  }

  &__icon-wrapper {
    display: flex;
    justify-content: center;
    height: 20px;
    width: 20px;
    position: absolute;
    color: $slate-gray;
    left: 12px;
    top: 10px;
  }
}
