@import '../../../style-guide/index';

.input-wrapper {
  position: relative;

  &__input-element {
    box-sizing: border-box;
    width: 100%;
    height: $common-element-height;
    padding: 0 16px;
    line-height: 22px;
    border: 1px solid map-get($monochrome, medium-tint);
    border-radius: 4px;
    background-color: map-get($monochrome, white);
    outline: none;
    font-family: $regular-font;
    font-size: 14px;
    color: map-get($monochrome, black);

    &:focus {
      border: 1px solid map-get($monochrome, black);
    }

    &::placeholder {
      opacity: 0.5;
    }

    &--rounded {
      border-radius: 20px;
    }

    &--disabled {
      border: 1px solid map-get($monochrome, medium-tint);
      background-color: map-get($monochrome, light-tint);
      color: map-get($monochrome, black);
      opacity: 0.5;
    }

    &--success {
      border: 1px solid map-get($green, default);
    }

    &--error {
      border: 1px solid map-get($red, default);
    }

    &--prefix {
      padding: 0 40px;
    }
  }

  &__icon-wrapper {
    display: flex;
    justify-content: center;
    height: 20px;
    width: 20px;
    position: absolute;
    color: map-get($monochrome, default);
    left: 12px;
    top: 10px;
  }
}
