@import '../../style-guide/index';

.general-alerts {
  display: flex;
  font-size: 14px;
  line-height: 20px;

  &__content {
    display: flex;
    width: 100%;
    padding: 12px 24px;
    word-break: break-word;

    &--type {
      &--success {
        background-color: map-get($green, light-tint);
      }

      &--error {
        background-color: map-get($red, ultralight-tint);
      }

      &--warning {
        background-color: map-get($orange, light-tint);
      }

      &--info {
        color: map-get($monochrome, default);
        background-color: map-get($monochrome, light-tint);
      }
    }
  }

  &__message-icon {
    display: flex;
    align-self: start;
    align-items: center;
    width: 20px;
    height: 20px;
    margin-right: 8px;

    &--type {
      &--success {
        color: map-get($green, default);
      }

      &--error {
        color: map-get($red, default);
      }

      &--warning {
        color: map-get($orange, default);
      }

      &--info {
        color: map-get($monochrome, default);
      }
    }
  }
}
