@import '../../style-guide/index';

.general-alerts {
  display: flex;
  font-size: 14px;

  &__content {
    display: flex;
    height: 40px;
    width: 100%;
    padding: 0px 24px;

    & > *:not(:first-child) {
      margin-left: 8px;
    }

    &--type {
      &--success {
        background-color: map-get($green, light-tint);
      }

      &--error {
        background-color: map-get($red, ultralight-tint);
      }

      &--warning {
        background-color: map-get($orange, light-tint);
      }

      &--info {
        background-color: map-get($monochrome, light-tint);
      }
    }
  }

  &__message-icon {
    display: flex;
    margin-right: 8px;

    &--type {
      &--success {
        color: map-get($green, default);
      }

      &--error {
        color: map-get($red, default);
      }

      &--warning {
        color: map-get($orange, default);
      }

      &--info {
        color: map-get($monochrome, default);
      }
    }
  }
}
