@import '../../../../style-guide/index';

.link-button {
  padding: 0;
  border: none;
  background-color: transparent;
  color: map-get($primary-blue, default);
  font-family: $semibold-font;

  &:hover {
    color: map-get($primary-blue, medium-tint);
  }

  &:active {
    color: map-get($primary-blue, shade);
  }
}
