@import '../../../style-guide/index';

.expandable-table {
  tbody {
    tr {
      td {
        &:nth-child(1) {
          width: 24px;
        }
        &:nth-child(2) {
          width: 50vw;
        }
      }
    }
  }
}
