@import '../../../style-guide/index';

.checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: map-get($monochrome, white);

  &__checkbox-input {
    display: none;

    &--checked + .checkbox__checkbox-icon-wrapper {
      &--color {
        &--blue {
          background-color: map-get($primary-blue, default);

          &:hover {
            background-color: map-get($primary-blue, medium-tint);
          }
        }

        &--green {
          background-color: map-get($green, default);

          &:hover {
            background-color: map-get($green, medium-tint);
          }
        }

        &--red {
          background-color: map-get($red, default);

          &:hover {
            background-color: map-get($red, medium-tint);
          }
        }

        &--yellow {
          background-color: map-get($yellow, default);

          &:hover {
            background-color: map-get($yellow, medium-tint);
          }
        }

        &--orange {
          background-color: map-get($orange, default);

          &:hover {
            background-color: map-get($orange, medium-tint);
          }
        }
      }
    }
  }

  &__checkbox-icon-wrapper {
    position: relative;
    width: 14px;
    height: 14px;
    border-radius: 3px;

    &--type {
      &--all {
        background-color: map-get($primary-blue, default);
        &::before {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          display: block;
          width: 8px;
          height: 2px;
          background-color: map-get($monochrome, white);
          content: '';
        }

        &:hover {
          background-color: map-get($primary-blue, medium-tint);
        }
      }
    }

    &--color {
      &--blue {
        border: 1px solid map-get($primary-blue, default);

        &:hover {
          border: 1px solid map-get($primary-blue, medium-tint);
        }
      }

      &--green {
        border: 1px solid map-get($green, default);

        &:hover {
          border: 1px solid map-get($green, medium-tint);
        }
      }

      &--red {
        border: 1px solid map-get($red, default);

        &:hover {
          border: 1px solid map-get($red, medium-tint);
        }
      }

      &--yellow {
        border: 1px solid map-get($yellow, default);

        &:hover {
          border: 1px solid map-get($yellow, medium-tint);
        }
      }

      &--orange {
        border: 1px solid map-get($orange, default);

        &:hover {
          border: 1px solid map-get($orange, medium-tint);
        }
      }
    }
  }

  &__check-mark-icon {
    position: absolute;
    top: 23%;
    left: 13%;
  }

  &__label {
    margin-left: 8px;
    font-size: 12px;
    line-height: 24px;
    color: map-get($monochrome, black);
  }

  &--disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
