@import '../../../style-guide/index';

.checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: map-get($monochrome, white);

  &__checkbox-input {
    display: none;

    &--checked + .checkbox__checkbox-icon-wrapper {
      background-color: map-get($primary-blue, default);

      &:hover {
        background-color: map-get($primary-blue, medium-tint);
      }
    }
  }

  &__checkbox-icon-wrapper {
    position: relative;
    width: 14px;
    height: 14px;
    border: 1px solid map-get($primary-blue, default);
    border-radius: 3px;

    &--type {
      &--all {
        background-color: map-get($primary-blue, default);
        &::before {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          display: block;
          width: 8px;
          height: 2px;
          background-color: map-get($monochrome, white);
          content: '';
        }

        &:hover {
          background-color: map-get($primary-blue, medium-tint);
        }
      }
    }

    &:hover {
      border: 1px solid map-get($primary-blue, medium-tint);
    }
  }

  &__check-mark-icon {
    position: absolute;
    top: 23%;
    left: 13%;
  }

  &__label {
    margin-left: 8px;
    font-size: 12px;
    line-height: 24px;
    color: map-get($monochrome, black);
  }

  &--disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
