@import '../../../style-guide/index';

.checkbox {
  display: flex;
  align-items: center;
  color: map-get($monochrome, medium-tint);
  cursor: pointer;

  &__input {
    display: none;
  }

  &__icon-wrapper {
    display: flex;
    align-items: center;
    margin-left: 16px;
  }

  &__label {
    font-size: 14px;
    line-height: 24px;
    color: map-get($monochrome, black);
  }

  &--checked {
    color: map-get($primary-blue, default);
  }

  &--disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
