@import '../../style-guide/index';

.table {
  border-collapse: collapse;
  width: 100%;
  font-size: 14px;
  color: map-get($monochrome, default);
  white-space: nowrap;

  tbody {
    tr {
      td {
        border-bottom: 1px solid map-get($monochrome, medium-tint);
        height: 48px;
      }
    }
  }

  &__header {
    th {
      line-height: 20px;
      color: map-get($monochrome, black);
      text-align: left;
      font-family: $semibold-font;
      border-bottom: 1px solid map-get($monochrome, black);
      border-top: 1px solid map-get($monochrome, black);
      height: 48px;
    }
  }

  &__row {
    &:hover {
      background-color: rgba(104, 116, 129, 0.05);
    }

    &--nested {
      border-left: 2px solid map-get($primary-blue, light-tint);
      border-right: 2px solid map-get($primary-blue, light-tint);
    }

    &--nested-last {
      border-bottom: 2px solid map-get($primary-blue, light-tint);
    }

    &--color {
      &--blue {
        border-left: 2px solid map-get($primary-blue, light-tint);
        border-right: 2px solid map-get($primary-blue, light-tint);
        background-color: map-get($primary-blue, light-tint);

        &:hover {
          background-color: map-get($primary-blue, light-tint);
        }
      }
      &--gray {
        background-color: rgba(143, 157, 168, 0.15);

        &:hover {
          background-color: darken(rgba(143, 157, 168, 0.15), 5%);
        }
      }
      &--yellow {
        background-color: rgba(248, 231, 28, 0.1);

        &:hover {
          background-color: darken(rgba(248, 231, 28, 0.1), 5%);
        }
      }
    }
  }

  &--columns-size {
    &--wide {
      tbody {
        tr {
          td {
            height: 79px;
          }
        }
      }
    }
    &--medium {
      tbody {
        tr {
          td {
            height: 55px;
          }
        }
      }
    }
  }
}
