@import '../../style-guide/index';

.table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  font-size: 12px;
  line-height: 16px;
  color: map-get($monochrome, black);

  tbody {
    tr {
      td {
        height: 48px;
        border-bottom: 1px solid map-get($monochrome, medium-tint);
      }

      & > td:first-child,
      td:last-child {
        padding: 0 12px;
      }
    }
  }

  &__header {
    th {
      height: 48px;
      font-size: 14px;
      line-height: 20px;
      font-family: $semibold-font;
      border-bottom: 1px solid map-get($monochrome, black);
      border-top: 1px solid map-get($monochrome, black);
      color: map-get($monochrome, black);
    }

    tr {
      & > th:first-child,
      th:last-child {
        padding: 0 12px;
      }
    }
  }

  &__row {
    &:hover {
      background-color: rgba(104, 116, 129, 0.05);
    }

    &--nested {
      border-left: 2px solid map-get($primary-blue, light-tint);
      border-right: 2px solid map-get($primary-blue, light-tint);
    }

    &--nested-last {
      border-bottom: 2px solid map-get($primary-blue, light-tint);
    }

    &--color {
      &--blue {
        border-left: 2px solid map-get($primary-blue, light-tint);
        border-right: 2px solid map-get($primary-blue, light-tint);
        background-color: map-get($primary-blue, light-tint);

        &:hover {
          background-color: map-get($primary-blue, light-tint);
        }
      }
      &--gray {
        background-color: rgba(143, 157, 168, 0.15);

        &:hover {
          background-color: darken(rgba(143, 157, 168, 0.15), 5%);
        }
      }
      &--yellow {
        background-color: rgba(248, 231, 28, 0.1);

        &:hover {
          background-color: darken(rgba(248, 231, 28, 0.1), 5%);
        }
      }
    }
  }

  &--columns-size {
    &--wide {
      tbody {
        tr {
          td {
            height: 79px;
          }
        }
      }
    }
    &--medium {
      tbody {
        tr {
          td {
            height: 55px;
          }
        }
      }
    }
  }
}
