@import '../../../style-guide/index';

.button {
  border-radius: 20px;
  outline: 0;
  cursor: pointer;

  & > :not(:last-child) {
    margin-right: 8px;
  }

  &--type {
    &--primary {
      border: 1px solid map-get($primary-blue, default);
      background-color: map-get($primary-blue, default);
      color: map-get($monochrome, white);
      font-family: $semibold-font;

      &:hover {
        border: 1px solid map-get($primary-blue, medium-tint);
        background-color: map-get($primary-blue, medium-tint);
      }

      &:active {
        border: 1px solid map-get($primary-blue, shade);
        background-color: map-get($primary-blue, shade);
      }
    }
    &--secondary {
      border: 1px solid map-get($primary-blue, default);
      background-color: map-get($monochrome, white);
      color: map-get($primary-blue, default);
      font-family: $semibold-font;

      &:hover {
        border: 1px solid map-get($primary-blue, medium-tint);
      }

      &:active {
        border: 1px solid map-get($primary-blue, shade);
      }
    }
  }

  &--size {
    &--large {
      height: 32px;
      padding: 6px 16px;
      font-size: 14px;
    }

    &--small {
      height: 24px;
      padding: 1px 12px;
      font-size: 12px;
    }
  }

  &--disabled {
    opacity: 0.25;
    pointer-events: none;
  }
}
