@import '../../style-guide/index';

.tooltip {
  display: inline-block;

  &__message {
    position: absolute;
    white-space: pre;
    text-decoration: none;
    color: map-get($monochrome, white);
    font-size: 12px;
    background: map-get($monochrome, black);
    border-radius: 4px;
    z-index: 100;

    & > div {
      padding: 8px 16px;
    }

    &::after {
      position: absolute;
      border: 8px solid transparent;
      content: '';
    }

    &--type {
      &--top-center {
        &::after {
          bottom: -8px;
          right: calc(50% - 8px);
          border-top-color: map-get($monochrome, black);
          border-bottom: none;
        }
      }

      &--top-right {
        &::after {
          bottom: -8px;
          right: calc(100% - 8px);
          border-left-color: map-get($monochrome, black);
          border-right: none;
        }
      }

      &--top-left {
        &::after {
          bottom: -8px;
          left: calc(100% - 8px);
          border-right-color: map-get($monochrome, black);
          border-left: none;
        }
      }

      &--right {
        &::after {
          bottom: 8px;
          right: 100%;
          border-right-color: map-get($monochrome, black);
          border-left: none;
        }
      }

      &--left {
        &::after {
          bottom: 8px;
          left: 100%;
          border-left-color: map-get($monochrome, black);
          border-right: none;
        }
      }
    }
  }
}
